<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.hospital.mapper.CaseResultMapper">

    <resultMap type="CaseResult" id="CaseResultResult">
        <result property="caseHistoryId"    column="case_history_id"    />
        <result property="patientId"    column="patient_id"    />
        <result property="createUserId"    column="create_user_id"    />
        <result property="chiefComplaint"    column="chief_complaint"    />
        <result property="userId"    column="user_id"    />
        <result property="previousHistory"    column="previous_history"    />
        <result property="allergyHistory"    column="allergy_history"    />
        <result property="caseResult"    column="case_result"    />
        <result property="caseTime"    column="case_time"    />
        <result property="prescriptionDrug"    column="prescription_drug"    />
        <result property="caseAdvice"    column="case_advice"    />
        <result property="patienName"    column="patien_name"    />
        <result property="doctorName"    column="doctor_name"    />
        <result property="treatmentNum"    column="treatmentNum"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectCaseResultVo">
        select case_history_id, patient_id, create_user_id, chief_complaint, user_id, previous_history, allergy_history, case_result, case_time, prescription_drug, case_advice, patien_name, doctor_name, treatmentNum,remark from case_result
    </sql>

    <select id="selectCaseResultList" parameterType="CaseResult" resultMap="CaseResultResult">
        <include refid="selectCaseResultVo"/>
        <where>
            <if test="patientId != null "> and patient_id = #{patientId}</if>
            <if test="createUserId != null "> and create_user_id = #{createUserId}</if>
            <if test="chiefComplaint != null  and chiefComplaint != ''"> and chief_complaint = #{chiefComplaint}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="previousHistory != null  and previousHistory != ''"> and previous_history = #{previousHistory}</if>
            <if test="allergyHistory != null  and allergyHistory != ''"> and allergy_history = #{allergyHistory}</if>
            <if test="caseResult != null  and caseResult != ''"> and case_result = #{caseResult}</if>
            <if test="caseTime != null "> and case_time = #{caseTime}</if>
            <if test="prescriptionDrug != null  and prescriptionDrug != ''"> and prescription_drug = #{prescriptionDrug}</if>
            <if test="caseAdvice != null  and caseAdvice != ''"> and case_advice = #{caseAdvice}</if>
            <if test="patienName != null  and patienName != ''"> and patien_name like concat('%', #{patienName}, '%')</if>
            <if test="doctorName != null  and doctorName != ''"> and doctor_name like concat('%', #{doctorName}, '%')</if>
            <if test="treatmentNum != null  and treatmentNum != ''"> and treatmentNum = #{treatmentNum}</if>
            <if test="remark != null  and remark != ''"> and remark = #{remark}</if>
        </where>
    </select>

    <select id="selectCaseResultByCaseHistoryId" parameterType="Long" resultMap="CaseResultResult">
        <include refid="selectCaseResultVo"/>
        where case_history_id = #{caseHistoryId}
    </select>

    <insert id="insertCaseResult" parameterType="CaseResult" useGeneratedKeys="true" keyProperty="caseHistoryId">
        insert into case_result
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="patientId != null">patient_id,</if>
            <if test="createUserId != null">create_user_id,</if>
            <if test="chiefComplaint != null and chiefComplaint != ''">chief_complaint,</if>
            <if test="userId != null">user_id,</if>
            <if test="previousHistory != null and previousHistory != ''">previous_history,</if>
            <if test="allergyHistory != null">allergy_history,</if>
            <if test="caseResult != null">case_result,</if>
            <if test="caseTime != null">case_time,</if>
            <if test="prescriptionDrug != null">prescription_drug,</if>
            <if test="caseAdvice != null">case_advice,</if>
            <if test="patienName != null">patien_name,</if>
            <if test="doctorName != null">doctor_name,</if>
            <if test="treatmentNum != null">treatmentNum,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="patientId != null">#{patientId},</if>
            <if test="createUserId != null">#{createUserId},</if>
            <if test="chiefComplaint != null and chiefComplaint != ''">#{chiefComplaint},</if>
            <if test="userId != null">#{userId},</if>
            <if test="previousHistory != null and previousHistory != ''">#{previousHistory},</if>
            <if test="allergyHistory != null">#{allergyHistory},</if>
            <if test="caseResult != null">#{caseResult},</if>
            <if test="caseTime != null">#{caseTime},</if>
            <if test="prescriptionDrug != null">#{prescriptionDrug},</if>
            <if test="caseAdvice != null">#{caseAdvice},</if>
            <if test="patienName != null">#{patienName},</if>
            <if test="doctorName != null">#{doctorName},</if>
            <if test="treatmentNum != null">#{treatmentNum},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateCaseResult" parameterType="CaseResult">
        update case_result
        <trim prefix="SET" suffixOverrides=",">
            <if test="patientId != null">patient_id = #{patientId},</if>
            <if test="createUserId != null">create_user_id = #{createUserId},</if>
            <if test="chiefComplaint != null and chiefComplaint != ''">chief_complaint = #{chiefComplaint},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="previousHistory != null and previousHistory != ''">previous_history = #{previousHistory},</if>
            <if test="allergyHistory != null">allergy_history = #{allergyHistory},</if>
            <if test="caseResult != null">case_result = #{caseResult},</if>
            <if test="caseTime != null">case_time = #{caseTime},</if>
            <if test="prescriptionDrug != null">prescription_drug = #{prescriptionDrug},</if>
            <if test="caseAdvice != null">case_advice = #{caseAdvice},</if>
            <if test="patienName != null">patien_name = #{patienName},</if>
            <if test="doctorName != null">doctor_name = #{doctorName},</if>
            <if test="treatmentNum != null">treatmentNum = #{treatmentNum},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where case_history_id = #{caseHistoryId}
    </update>

    <delete id="deleteCaseResultByCaseHistoryId" parameterType="Long">
        delete from case_result where case_history_id = #{caseHistoryId}
    </delete>

    <delete id="deleteCaseResultByCaseHistoryIds" parameterType="String">
        delete from case_result where case_history_id in
        <foreach item="caseHistoryId" collection="array" open="(" separator="," close=")">
            #{caseHistoryId}
        </foreach>
    </delete>
</mapper>